body {
  font: 0.8em/1.6em "Cambria", Georgia, serif;
}
header {
  margin: 40px 0 60px 0;
}
header .author {
  color: #888;
  margin: 10px 0;
}



/* Headings 
--------------------------------------------------------------------------------------- */
h1 {
  font-size: 2.2em;
  font-weight: normal;

  margin: 10px 0 20px 0;

  line-height: 1.2em;

  string-set: header content();
}

section.chapter > section h1 {
  font-size: 1.8em;
  margin: 20px 0 10px 0;
}

section.chapter > section > section h1 {
  font-size: 1.5em;
  margin: 20px 0 10px 0;
}

header h1 {
  font-size: 1.8em;
  line-height: 1.3em;
  margin: 0 0 20px 0;
  font-weight: bold;
}

header h1 span {
  display: block;
}


/* Others
--------------------------------------------------------------------------------------- */
p {
  margin: 0 0 12px 0;
}


/* Footer 
--------------------------------------------------------------------------------------- */
footer ul li {
  margin: 0 0 12px 0;
}
footer > ul > li:before {
  counter-increment: RefNo;
  content: "[" counter(RefNo)"] ";
  margin: 0 5px 0 0;
}
footer {
  counter-reset: RefNo;
}


/* Page stuff 
--------------------------------------------------------------------------------------- */
@page {
  size: 8.27in 11.69in; 
  margin: 1in 1.2in 1.2in 1.3in;

  @bottom-center {
    content: counter(page) " of " counter(pages);
    font-size: .6em;
  }
}

@page chapters {

}

@page chapter {
  @top-center {
    content: string(header, first);;
    font-size: .6em;
  }
}


/* Sections
--------------------------------------------------------------------------------------- */
section {
  margin: 0 0 40px 0;
}

section#content {
  page: chapters;
  counter-reset: ChapterNo;
}

section.chapter {
  page: chapter;
  counter-reset: SubSection;
  page-break-after: always;
  display: block;
}

section.chapter ul {
  
  list-style: disc; margin: 0 0 0 25px;
}

section.chapter > section {
  counter-reset: SubSubSection;
}

section#content > section.chapter > h1:before {
  counter-increment: ChapterNo;
  content: counter(ChapterNo);
  border-right: 1px solid #e1e1e1;
  margin: 0 25px 0 0;
  padding: 0 25px 0 0;
}

section#content > section.chapter > section > h1:before {
  counter-increment: SubSection;
  content: counter(ChapterNo)"."counter(SubSection);
  margin: 0 25px 0 0;
}

section#content > section.chapter > section > section > h1:before {
  counter-increment: SubSubSection;
  content: counter(ChapterNo)"."counter(SubSection)"."counter(SubSubSection);
  margin: 0 25px 0 0;
}


/* Simple text preview on screen 
--------------------------------------------------------------------------------------- */
@media only screen {
  #container {
    width: 8.27in;
    margin: 0 auto;
  }
  body {
    font: 14px/22px "Cambria", Georgia, serif;
  }
}